Source: zynthbox-dependency-faust
Section: misc
Priority: optional
Maintainer: Anupam Basak <anupam.basak27@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://github.com/grame-cncm/faust.git

Package: zynthbox-dependency-faust
Architecture: any
Provides: faust, faust-common, libfaust2
Replaces: faust, faust-common, libfaust2
Conflicts: faust, faust-common, libfaust2
Depends: faust-common, ${shlibs:Depends}, ${misc:Depends}
Description: Build zynthbox-dependency-faust deb

Package: faust-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Build zynthbox-dependency-faust-common deb
