#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	cmake -DCMAKE_BUILD_TYPE=Release -B build

override_dh_auto_build:
	cmake --build build --config Release

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_usrlocal: