Source: zynthbox-plugin-rubberband-lv2
Section: misc
Priority: optional
Maintainer: Probal Basak <probal31@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://www.breakfastquay.com/rubberband/

Package: zynthbox-plugin-rubberband-lv2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Build zynthbox-plugin-rubberband-lv2 deb
