Source: plasma-framework-zynthbox
Section: libs
Priority: optional
Maintainer: Anupam Basak <anupam.basak27@gmail.com>
Build-Depends: cmake (>= 3.16~),
               debhelper-compat (= 13),
               doxygen,
               extra-cmake-modules (>= 5.83.0~),
               gettext,
               kirigami2-dev (>= 5.83.0~),
               libegl1-mesa-dev,
               libkf5activities-dev (>= 5.83.0~),
               libkf5archive-dev (>= 5.83.0~),
               libkf5config-dev (>= 5.83.0~),
               libkf5configwidgets-dev (>= 5.83.0~),
               libkf5coreaddons-dev (>= 5.83.0~),
               libkf5dbusaddons-dev (>= 5.83.0~),
               libkf5declarative-dev (>= 5.83.0~),
               libkf5doctools-dev (>= 5.83.0~),
               libkf5globalaccel-dev (>= 5.83.0~),
               libkf5guiaddons-dev (>= 5.83.0~),
               libkf5i18n-dev (>= 5.83.0~),
               libkf5iconthemes-dev (>= 5.83.0~),
               libkf5kio-dev (>= 5.83.0~),
               libkf5notifications-dev (>= 5.83.0~),
               libkf5package-dev (>= 5.83.0~),
               libkf5parts-dev (>= 5.83.0~),
               libkf5plasma-dev,
               libkf5service-dev (>= 5.83.0~),
               libkf5wayland-dev (>= 4:5.83.0~) [linux-any],
               libkf5widgetsaddons-dev (>= 5.83.0~),
               libkf5windowsystem-dev (>= 5.83.0~),
               libkf5xmlgui-dev (>= 5.83.0~),
               libqt5sql5-sqlite,
               libqt5svg5-dev (>= 5.15.0~),
               libqt5x11extras5-dev,
               libsm-dev,
               libx11-xcb-dev,
               libxcb-composite0-dev,
               libxcb-damage0-dev,
               libxcb-shape0-dev,
               pkg-config,
               pkg-kde-tools (>= 0.15.15ubuntu1~),
               qtbase5-dev (>= 5.15.0~),
               qtdeclarative5-dev (>= 5.15.0~),
               qtquickcontrols2-5-dev (>= 5.15.0~),
               qtscript5-dev,
               qttools5-dev,
               qttools5-dev-tools
Standards-Version: 4.5.1
Homepage: https://invent.kde.org/frameworks/plasma-framework
Rules-Requires-Root: no

Package: plasma-framework-zynthbox
Architecture: any
Depends: qml-module-org-kde-kconfig (>= 5.70.0~),
         qml-module-org-kde-kquickcontrols (>= 5.70.0~),
         qml-module-org-kde-kquickcontrolsaddons (>= 5.70.0~),
         qml-module-qtqml-models2,
         qml-module-qtquick-controls,
         qml-module-qtquick-controls2,
         qml-module-qtquick-templates2,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Plasma Runtime components
 Plasma library and runtime components based upon KF5 and Qt 5.
Breaks: qml-module-org-kde-kirigami2 (<< 5.44)
Provides: plasma-framework
Replaces: qml-module-org-kde-kirigami2 (<< 5.42~), plasma-framework
Conflicts: plasma-framework
