#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	meson build_dir

override_dh_auto_build:
	cd build_dir && ninja

override_dh_auto_install:
	cd build_dir && DESTDIR=$(shell pwd)/debian/zynthbox-plugin-artyfx ninja install
	
override_dh_usrlocal:

