Source: zynthbox-plugin-fluidsynth
Section: misc
Priority: optional
Maintainer: Probal Basak <probal31@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://github.com/FluidSynth/fluidsynth

Package: zynthbox-plugin-fluidsynth
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Build zynthbox-plugin-fluidsynth deb
Breaks: fluidsynth, libfluidsynth-dev, libfluidsynth3
Conflicts: fluidsynth, libfluidsynth-dev, libfluidsynth3
Provides: fluidsynth, libfluidsynth-dev, libfluidsynth3
Replaces: fluidsynth, libfluidsynth-dev, libfluidsynth3
