Source: zynthbox-plugin-mod-arpeggiator
Section: misc
Priority: optional
Maintainer: Anupam Basak <anupam.basak27@gmail.com>
Build-Depends: debhelper (>= 11), lv2-dev
Standards-Version: 4.1.3
Homepage: https://github.com/moddevices/mod-arpeggiator-lv2.git

Package: zynthbox-plugin-mod-arpeggiator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lv2-dev
Description: Build zynthbox-plugin-mod-arpeggiator deb
