#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	BASE_OPTS="-O3 -ffast-math -fdata-sections -ffunction-sections" make -C source -j $(shell nproc)

override_dh_auto_install:
	DESTDIR=$(shell pwd)/debian/zynthbox-plugin-alo make -C source install

override_dh_usrlocal:
