#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@
	
override_dh_auto_install:
	mkdir -p debian/zynthbox-dependency-mod-ttymidi/usr/local/bin
	mkdir -p debian/zynthbox-dependency-mod-ttymidi/usr/lib/aarch64-linux-gnu/jack/
	mkdir -p debian/zynthbox-dependency-mod-ttymidi/usr/local/lib/aarch64-linux-gnu/jack/
	DESTDIR=$(shell pwd)/debian/zynthbox-dependency-mod-ttymidi make -j$(shell nproc) install
	cp -u -p debian/zynthbox-dependency-mod-ttymidi/usr/lib/aarch64-linux-gnu/jack/ttymidi.so debian/zynthbox-dependency-mod-ttymidi/usr/local/lib/aarch64-linux-gnu/jack/ttymidi.so

override_dh_usrlocal:
	
