Source: zynthbox-plugin-foo-yc20
Section: misc
Priority: optional
Maintainer: Anupam Basak <anupam.basak27@gmail.com>
Build-Depends: debhelper (>= 11), lv2-dev, faust
Standards-Version: 4.1.3
Homepage: https://github.com/zynthian/foo-yc20.git

Package: zynthbox-plugin-foo-yc20
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lv2-dev, zfaust
Description: Build zynthbox-plugin-foo-yc20 deb
