#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	./waf configure
	dh $@

# dh_auto_clean is the first target that gets executed.
# So replace waf with newer version here before running any waf commands
override_dh_auto_clean:
	# Download newer waf
	rm ./waf
	wget https://waf.io/waf-2.0.25 -O waf
	chmod +x ./waf
	./waf configure --no-standalone --no-lv2-gui --disable-sse --lv2dir=/zynthian/zynthian-plugins/lv2 --no-avahi --no-bluez --no-faust --mod-lv2
	./waf clean

override_dh_auto_configure:
	./waf configure

override_dh_auto_build:
	./waf build

override_dh_auto_install:
	./waf install --destdir=$(shell pwd)/debian/zynthbox-dependency-ntk
	
override_dh_clean:
	./waf clean

override_dh_usrlocal:
	
override_dh_strip:
	dh_strip --no-automatic-dbgsym