Source: zyncoder
Section: misc
Priority: optional
Maintainer: Probal Basak <probal31@gmail.com>
Build-Depends: debhelper (>= 11), cmake (>= 3.13), extra-cmake-modules (>= 5.54.0), liblo-dev, libjack-jackd2-dev, libboost-dev, pkg-config, python3, libgpiod-dev
Standards-Version: 4.1.3
Homepage: https://github.com/zynthbox/zyncoder

Package: zyncoder
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Rotary encoder & switch library for RBPi GPIO (wiringPi). Implements a GPIO emulation layer for development
