#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export CFLAGS += -Wno-implicit-function-declaration
export CXXFLAGS += -Wno-implicit-function-declaration

%:
	dh $@


## This is not required since the WiringPi dependency is mentioned in the control files
## Also the deb is uploaded to the repo
## If everything goes fine, the below lines can be removed later
#	(cd /tmp && git clone https://github.com/zynthbox/WiringPi && cd WiringPi && bash ./build)

# Set WIRING_LAYOUT to any Z2 variant before configuring
# This ensures that zyncoder build builds for Z2 devices
override_dh_auto_configure:
	ZYNTHIAN_WIRING_LAYOUT="Z2_V4" dh_auto_configure
