#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- -DSURGE_BUILD_LV2=TRUE -DSURGE_BUILD_CLAP=FALSE -DSURGE_SKIP_STANDALONE=TRUE -DSURGE_SKIP_VST3=TRUE -DSURGE_BUILD_TESTRUNNER=FALSE -DSURGE_BUILD_PYTHON_BINDINGS=FALSE

override_dh_usrlocal:
