Source: zynthbox-theme
Section: misc
Priority: optional
Maintainer: Anupam Basak <anupam.basak27@gmail.com>
Build-Depends: debhelper (>= 11), rsync
Standards-Version: 4.1.3

Package: zynthbox-theme
Architecture: all
Breaks: zynthian-plasma-theme
Provides: zynthian-plasma-theme
Replaces: zynthian-plasma-theme
Conflicts: zynthian-plasma-theme
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Zynthian Plasma theme for Zynthbox
