#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@


override_dh_auto_configure:
	autoreconf --install
	./configure --prefix=/usr --enable-aac --enable-mp3lame --enable-mpg123 --enable-msbc --enable-systemd --enable-upower --enable-a2dpconf
