Source: setbfree
Section: misc
Priority: optional
Maintainer: Anupam Basak <anupam.basak27@gmail.com>
Build-Depends: debhelper (>= 11), cmake, g++, libasound2-dev, libcairo2-dev, libpango1.0-dev, libftgl-dev, libglu1-mesa-dev, libjack-jackd2-dev, libx11-dev, lv2-dev, liblo-dev, libsndfile1-dev, ttf-bitstream-vera, libgl-dev, libglib2.0-dev
Standards-Version: 4.1.3
Homepage: https://x42-plugins.com/x42/setBfrees

Package: setbfree
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Build setbfree deb
