Source: zynthbox-dependency-lvtk-v1
Section: misc
Priority: optional
Maintainer: Anupam Basak <anupam.basak27@gmail.com>
Build-Depends: debhelper (>= 11), lv2-dev
Standards-Version: 4.1.3
Homepage: https://github.com/lvtk/lvtk

Package: zynthbox-dependency-lvtk-v1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lv2-dev
Description: Build zynthbox-dependency-lvtk-v1 deb
