Source: zynthbox-plugin-midi-display
Section: misc
Priority: optional
Maintainer: Anupam Basak <anupam.basak27@gmail.com>
Build-Depends: debhelper (>= 11), lv2-dev
Standards-Version: 4.1.3
Homepage: https://github.com/vallsv/midi-display.lv2.git

Package: zynthbox-plugin-midi-display
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lv2-dev
Description: Build zynthbox-plugin-midi-display deb
