Source: zynthbox-plugin-shiro-plugins
Section: misc
Priority: optional
Maintainer: Probal Basak <probal31@gmail.com>
Build-Depends:
    debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://github.com/ninodewit/SHIRO-Plugins

Package: zynthbox-plugin-shiro-plugins
Breaks: zynthbox-plugins-shiro-plugins
Conflicts: zynthbox-plugins-shiro-plugins
Provides: zynthbox-plugins-shiro-plugins
Replaces: zynthbox-plugins-shiro-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Build zynthbox-plugin-shiro-plugins deb
