Source: zynthbox-dependency-mod-ui
Section: misc
Priority: optional
Maintainer: Anupam Basak <anupam.basak27@gmail.com>
Build-Depends: debhelper (>= 11), liblilv-dev, lilv-utils
Standards-Version: 4.1.3
Homepage: https://github.com/zynthian/mod-ui.git

Package: zynthbox-dependency-mod-ui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liblilv-dev, lilv-utils
Description: Build zynthbox-dependency-mod-ui deb
