Source: helm
Section: sound
Priority: extra
Maintainer: falkTX <falktx@gmail.com>
Build-Depends: debhelper, pkg-config,
 debhelper (>= 8~),
 libfreetype6-dev, libx11-dev, libxcomposite-dev, libxrender-dev, libxrandr-dev, libxcursor-dev, libxinerama-dev,
 libasound2-dev, libjack-dev,
 libgl1-mesa-dev | libgl-dev,
 libglu1-mesa-dev | libglu-dev,
 ladspa-sdk, lv2-dev
Standards-Version: 3.9.3

Package: helm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: standalone-plugin, lv2-plugin, vst-plugin
Description: polyphonic synthesizer with lots of modulation
 Helm is a free, cross-platform, polyphonic synthesizer
 that runs on GNU/Linux, Mac, and Windows as a standalone program and as a LV2/VST/AU/AAX plugin.
 .
 Features:
  - 32 voice polyphony
  - Interactive visual interface
  - Powerful modulation system with live visual feedback
  - Dual oscillators with cross modulation and up to 15 oscillators each
  - Unison and Harmony mode for oscillators
  - Oscillator feedback and saturation for waveshaping
  - 12 different waveforms
  - 7 filter types with keytracking
  - 2 monophonic and 1 polyphonic LFO
  - Step sequencer
  - Lots of modulation sources including polyphonic aftertouch
  - Simple arpeggiator
  - Effects: Formant filter, stutter, delay
  - Still more...
