#!/usr/bin/make -f

DEB_HOST_ARCH = $(shell dpkg-architecture -qDEB_HOST_ARCH)

FLAGS  = -O3 -ffast-math -fPIC -DPIC -fvisibility=hidden -fdata-sections -ffunction-sections -DNDEBUG -D__sigemptyset=sigemptyset
ifeq ($(DEB_HOST_ARCH),armhf)
FLAGS += -march=armv7ve -mcpu=cortex-a7 -mfloat-abi=hard -mfpu=neon-vfpv4
else ifeq ($(DEB_HOST_ARCH),arm64)
FLAGS += -march=armv8-a -mcpu=cortex-a53
else
FLAGS += -mtune=generic -msse -msse2 -mfpmath=sse
endif

export CFLAGS=$(FLAGS)
export CXXFLAGS=$(FLAGS) -fvisibility-inlines-hidden
export CPPFLAGS=
export LDFLAGS=-Wl,-O1 -Wl,--as-needed -Wl,--no-undefined -Wl,--gc-sections -Wl,--strip-all
export PATH:=/opt/kxstudio/bin:$(PATH)
export PKG_CONFIG_PATH=/opt/kxstudio/lib/pkgconfig

%:
	dh $@

override_dh_auto_build:
	echo "deb http://archive.debian.org/debian/ buster main contrib non-free" | sudo tee /etc/apt/sources.list.d/buster.list
	sudo apt update
	sudo apt install gcc-7 libgcc-7-dev
	sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 1
	gcc -v
	$(MAKE) standalone lv2 vst -j4

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/helm/
	rm -r $(CURDIR)/debian/helm//usr/lib/lxvst
