Source: zynthbox-docs
Section: misc
Priority: optional
Maintainer: Anupam Basak <anupam.basak27@gmail.com>
Build-Depends: debhelper (>= 11), python3-pip
Standards-Version: 4.1.3
Homepage: https://github.com/zynthbox/zynthbox-docs

Package: zynthbox-docs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Zynthbox documentation
