#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	pip3 install --break-system-packages mkdocs-material
	dh_auto_build

override_dh_auto_install:
	make install