#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export CFLAGS += -Wno-deprecated-declarations -Wno-incompatible-pointer-types
export CXXFLAGS += -Wno-deprecated-declarations -Wno-incompatible-pointer-types

%:
	dh $@

override_dh_usrlocal:

override_dh_strip:
	dh_strip --no-automatic-dbgsym