Source: libspecbleach
Section: misc
Priority: optional
Maintainer: Probal Basak <probal31@gmail.com>
Build-Depends: 
  debhelper (>= 11), 
  cmake, 
  g++,
  lv2-dev
Standards-Version: 4.1.3
Homepage: https://github.com/lucianodato/libspecbleach

Package: libspecbleach
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Build libspecbleach deb
