#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_configure:
	meson setup build
	cd build && meson configure

override_dh_auto_build:
	cd build && meson compile

override_dh_auto_install:
	cd build && meson install --destdir=$(CURDIR)/debian/blop-lv2

override_dh_usrlocal: