name: Build zynthbox plugins debs
run-name: Build zynthbox plugins debs - ${{ github.event.inputs.package_name }}

on:
  workflow_dispatch:
    inputs:
      aptly_repo:
        description: 'Aptly repo to upload debs to'
        required: true
        default: 'testing'
        type: choice
        options:
          - testing
          - unstable
      release:
        description: 'Release to build for'
        required: true
        default: 'trixie'
        type: choice
        options:
          - trixie
      package_name:
        description: 'Package Name'
        required: true
        type: choice
        options:
          # The name should be same as the folder name in the repository
          - abgate
          - aeolus
          - artyfx
          - calf-plugins
          - distrho-plugin-ports-lv2
          - dpf-plugins
          - dragonfly-reverb
          - fabla
          - fluidplug
          - fluidsynth
          - foo-yc20
          - guitarix
          - gxdistortionplus
          - gxplugins
          - helm
          - jack-example-tools
          - jalv
          - knewstuff
          - libgpiod
          - libjucy
          - libzynthbox
          - lv2-c++-tools
          - lvtk-v1
          - mod-distortion
          - mod-host
          - mod-ttymidi
          - mod-utilities
          - ntk
          - padthv1-lv2
          - premake
          - preset2lv2
          - qml-module-zynthbox
          - qml-style-zynthbox
          - raffo
          - setbfree
          - sfizz
          - shiro-plugins
          - sonobus
          - string-machine
          - sunshine
          - surge
          - synthv1-lv2
          - tap-lv2
          - webconf
          - xmodits-cli
          - ykchorus
          - zam-plugins
          - zynaddsubfx
          - zyncoder
          - zynthbox-bootsplash
          - zynthbox-docs
          - zynthbox-meta
          - zynthbox-qml
          - zynthbox-soundfonts
          - zynthbox-theme
          - zynthbox-update-script
          - zynthbox-virtualkeyboard-theme
          - zynthian-data
          - zynthian-sys
          # - aether-reverb
          # - airwin2rack
          # - alo
          # - ams-lv2
          # - bchoppr
          # - beatslash-lv2
          # - blop-lv2
          # - bluez-alsa
          # - bolliedelay
          # - bshapr
          # - bslizr
          # - caps-lv2
          # - cv-lfo-blender-lv2
          # - drmr
          # - drumgizmo
          # - drumkv1-lv2
          # - dxsyx
          # - faust
          # - gammaray
          # - geonkick
          # - gula-plugins
          # - gxdenoiser2
          # - gxswitchlesswah
          # - infamous-plugins
          # - invada-studio-plugins-lv2
          # - jack2
          # - libspecbleach
          # - lilv
          # - lsp-plugins
          # - lv2-dev
          # - mclk
          # - midi-display
          # - miniopl3
          # - mod-arpeggiator
          # - mod-browsepy
          # - mod-cabsim-ir-loader
          # - mod-cv-plugins
          # - mod-mda
          # - mod-pitchshifter
          # - mod-ui
          # - moony-lv2
          # - njconnect
          # - noise-repellent
          # - plasma-framework-zynthbox
          # - punk-console
          # - qmidiarp
          # - regrader
          # - remid
          # - rubberband-lv2
          # - sooperlooper-lv2
          # - sorcer
          # - sosynth
          # - stereo-mixer
          # - swh
          # - synthv1-lv2-1.3.2
          # - touchosc2midi
          # - triceratops
          # - vl1
          # - wolf-shaper
          # - wolf-spectrum
          # - zlfo
      repo_branch:
        description: 'Provide branch to build for packages built from repository'
        required: true
        default: 'main'
        type: choice
        options:
          - main
          - unstable
jobs:
  build:
    uses: ./.github/workflows/build-common.yml
    with:
      package_name: ${{ github.event.inputs.package_name }}
      container_image: ${{ github.event.inputs.package_name == 'helm' && 'ghcr.io/probal31/zynthbox-packaging:debian-buster-arm' || 'ghcr.io/probal31/zynthbox-packaging:debian-trixie-arm' }}
      repo_branch: ${{ github.event.inputs.repo_branch }}
    secrets:
      APTLY_SSH_KEY: ${{ secrets.APTLY_SSH_KEY }}
      GH_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
